<h2>
   {{title}}
</h2>

<div>
    <div class="divider"></div>
    <div class="section">
        <h3>Aufgabe 5: Cursor Position</h3>
        <cursor-position></cursor-position>
    </div>

    <div class="divider"></div>
    <div class="section">
        <h3>Aufgabe 2,6, 7: Book List</h3>
        <book-list [title]="'My Book List'" (titleClicked)="onTitleClicked($event)"></book-list>
    </div>

    <div class="divider"></div>
    <div class="section">
        <h3>Aufgabe Routing</h3>
        <router-outlet></router-outlet>
    </div>
</div>

