/* You can add global styles to this file, and also import other style files */
.app-header {
    margin: 0;
    padding: 10px;
}

.app-header a {
    color: #fff;
}

.component {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

.link {
    cursor: pointer;
}